<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h1>Oops</h1>
      <p>Looks like that URL doesn't exist in the database.</p>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
