<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>
  <body>
    <%- include('partials/_header') %>
    <main
      style="margin: 1em;"
      class="row flex-column align-items-center"
    >
      <h1 class="mt-4 mb-4">Login</h1>

      <form method="POST" action="/login" class="mt-4 w-50">
        <%- include('partials/_email-pw-fields') %>

        <button type="submit" class="btn btn-success mt-4">
          Login
        </button>
      </form>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
